<ion-view>
  <ion-nav-bar class="bar-light-assertive">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="light-assertive">
    <h1 class="centered">Write down and mark<br/>your deals when<br/>you've done.</h1>
  </ion-content>
</ion-view>
