<ion-view view-title="Plugins">
  <ion-nav-bar class="bar-assertive">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="plugins"">
    <ion-list class="list list-inset light-bg dark-border">
      <div class="plugins-container">
        <ion-item ng-repeat="plugin in pluginsCtrl.plugins" class="plugin-item">
          <img class="plugin-img" src="{{pluginsCtrl.imgsPath + plugin.imgUrl}}" alt="{{plugin.title}}" title="{{plugin.title}}">
          <p class="plugin-title">
            {{plugin.title}}
          </p>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
