/* Empty. Add your own CSS if you like */
.bar-header {
    color: #fff;
}
.bar {
    height: 8vh;
}
.bar-header.bar.bar-light-assertive {
    background-color: #ff7878;
    border: none;
}
.bar-header.bar.bar-light-assertive button {
    color: #fff;
}

ion-content.light-assertive {
    background-color: #ff7878;
}

ion-content.light-assertive h1 {
    color: #fff;
    font-weight: 400;
    font-size: 2rem;
}

ion-content.light-assertive h1.centered {
    text-align: center;
    padding-top: calc(50vh - 6rem);
}

.list-inset.light-bg {
    background: #fff;
}
.list-inset.light-border {
    border: 1px solid #e3e3e3;
}

.plugins {
    background-color: #ededed
}

.bar-header.bar.bar-assertive {
    background: #d0021b;
}

.platform-android .bar .title {
    font-size: 1.2rem;
    line-height: 44px;
    text-align: center;
    font-weight: 400;
    left: 0!important;
}

.plugins .plugin-item {
    padding: 3vw;
    margin: 3vw;
    width: 25vw;
    height: 16vh;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    text-align: center;
    text-overflow: clip;
}

.plugins .plugin-item .plugin-title {
    vertical-align: top;
    white-space: normal;
    text-align: center;
    text-overflow: clip;
    font-size: 0.9rem;
    line-height: 1rem;
}

.plugins-container {
    margin: 0 2vw;
    padding: 0 1vw;
    background-color: #fff;
    border: 1px solid #e3e3e3;
}